<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
<div id="coco">
    姓:<input type="text" v-model="xing">
    名:<input type="text" v-model="ming">
    名字:<span>{{name}}</span>
    <hr>
    名字:<input type="text" v-model="names"><br>
    <span>姓:{{a}}</span> <span>名字:{{b}}</span>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    //声明 new vue（）实例对象
    new Vue({
        //el属性——> vue作用范围
        el: '#coco',
        //data属性——> 定义vue的数据,数据与数据之间逗号隔开
        data: {
            xing:'',
            ming:'',

            names:'',
            a:'',
            b:'',
        },
        //vue 所有的方法都在methods中
        methods: {
            //this对象表示当前的vue实例对象
        },
        computed:{
            name(){
                return this.xing+this.ming
            }
        },
        watch:{
            names(){
                let result=this.names.split(' ')
                this.a=result[0]
                this.b=result[1]
            }
        }
    })
</script>
</html>